.package_services {
  width: 1258px;
  height: 514px;

  &-col {
    @include padding('* 0');
    max-width: 406px;
  }

  &-sub_title {
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    line-height: 116px;
    text-align: center;
    color: $white $blue;
  }

  &-price {
    display: block;
    line-height: 36px;
    text-align: center;
  }

  &-btn {
    display: table;
    @include margin('* auto');
  }
}
