.main {
  $sideMargin: 292px;

  // height: 500px;
  // overflow: visible;

  &-container {
    // @include position('absolute 0 * * 50%');
    position: relative;
    // max-width: $sideMargin * 2 + $maxWidth;
    // background: url(../assets/img/main.png) 946px -92px no-repeat #e5e5e5;
    // transform: translateX(-50%);
  }

  // &-row {
  //   @include margin('* #{$sideMargin}');
  // }

  &-img {
    @include position('relative -92px * * 642px');
    height: 892px;
  }

  &-sub_title {
    margin-bottom: 13px;
  }

  &-text {
    @include position('absolute 0 * * 0');
    @include padding('138px 35px * 5px');
  }

  &-list {
    margin-bottom: 38px;

    .list-item:before {
      top: 21px;
      left: 3px;
      border-radius: 50%;
      size: 4px;
    }
  }
}
