.services {
  $block: &;
  $paddingTop: 89px;

  padding-top: $paddingTop;
  width: 1257px;
  height: 669px + $paddingTop;

  &-title {
    margin-bottom: 14px;
    padding-left: 10px;
    // line-height: 38px;
  }

  &-list {
    font-size: 18px;
    // line-height: 28.87px;

    .list-item {
      margin-bottom: 13px;
    }
  }

  &-card {
    $margin: 20px;
    $height: 257px;

    margin-bottom: $margin;
    size: 406px $height;

    .card-body {
      padding: 33px 0 20px 34px;
    }

    &--form {
      // margin-left: $margin;
      margin-left: 19px;
      height: $height * 2 + $margin;
      color: $white $blue;

      #{$block}-title {
        margin-bottom: 16px;
        padding-left: 0;
      }

      #{$block}-text {
        margin-bottom: 18px;
        line-height: 30px;
      }

      #{$block}-btn {
        @include padding('* 32px');
      }

      #{$block}-img {
        @include position('absolute * * -57px -10px');
        width: 418px;
      }

      .card-body {
        padding: 29px 75px 20px 44px;
      }
    }
  }
}
