+section(titles.packageService)
  -
    var items = [
      {
        title: 'ADVA Touch',
        price: 500,
        count: 5,
        list: [
          'Первинна консультація',
          'Проведення переговорів в інтересах клієнта',
          'Надання інформації з реєстру',
          'виконавчих проваджень',
          'Надання інформації з реєстру судових справ',
          'Підготовка документів',
          'Надання інформації з реєстру прав на нерухомість',
          'Базова консультація в сфері отримання ВНЖ / ПМП через інвестиції',
          'Досудова і претензійна робота',
          'Базова консультація з питання відкриття брокерського / інвестиційного рахунку'
        ]
      },
      {
        title: 'ADVA Help',
        price: 1000,
        count: 8,
        list: [
          'Первинна консультація',
          'Письмове юридичний висновок (Legal Opinion)',
          'Підготовка документів',
          'Надання інформації з реєстру',
          'виконавчих проваджень',
          'Надання інформації з реєстру судових справ',
          'Надання інформації з реєстру прав на нерухомість',
          'Базова консультація в сфері отримання ВНЖ / ПМП через інвестиції',
          'Досудова і претензійна робота',
          'Базова консультація з питання відкриття брокерського / інвестиційного рахунку'
        ]
      },
      {
        title: 'ADVA Care',
        price: 1600,
        count: 10,
        list: [
          'Первинна консультація',
          'Усна консультація юриста і аналіз ситуації з вивченням всіх представлених документів',
          'Досудова і претензійна робота',
          'Підготовка документів',
          'Надання інформації з реєстру виконавчих проваджень',
          'Надання інформації з реєстру судових справ',
          'Надання інформації з реєстру прав на нерухомість',
          'Базова консультація в сфері отримання ВНЖ / ПМП через інвестиції',
          'Базова консультація з питання відкриття брокерського / інвестиційного рахунку'
        ]
      }
    ]
  each item in items
    +packageService(item.title, item.price, item.count, item.list)
