+section('job_stages', 'Етапи роботи')
  -
    var titles = [
      'Обираєте пакет чи питання, яке Вас цікавить',
      'Залишаєте заявку на сайті',
      'Сплачуєте послуги на обираєте час консультації',
      'Отримуєте послугу'
    ]
  - var imgTitle = 0

  each title, index in titles
    - imgTitle = index + 1
    article.card(class = colClasses[4])
      //- figure.img_wrap
      img.img_wrap-img(src = pathes.img + '/job_stages/' + imgTitle + '.png' alt = imgTitle)
      section.card-body
        h3= title
