article.section
  .container.section-container
    .row
      .col.col-8
        h1.section-title.section-title--mainest Юридична допомога на будь-які випадки online
        h2.section-title.section-title--main Маємо багатий досвід в напрямках:
        ul
          each item in ['сімейні спори', 'житлові спори', 'фінансові та кредитні спори']
            li= item
        a.btn(href='#') Інші напрямки та послуги
      figure.col.col-4.img_wrap
        img.img_wrap-img(src = pathes.img + '/main.png' alt='Смартфон')
