$reserveFonts: Arial, Helvetica, sans-serif;
$mainFont: 'Roboto', $reserveFonts;
$sectionTitleFont: SansusWebissimo, $mainFont;

$trsTime: 1s;

$white: #fff;

$darkWhite: #faf8f0;
$grey: #474b57;

$black: #000;

$red: #e44845;
$blue: #0548be;
$darkBlue: #083c96;

$zMax: 100000000000000;
$zSuper: 10000000;
$zSuperSuper: 100000000;

$maxWidth: 1264px;

$borderRadius: 10px;
