.main {
  &-container {
    position: relative;
  }

  &-img {
    @include position('relative -92px * * 642px');
    height: 892px;
  }

  &-sub_title {
    margin-bottom: 13px;
    @include padding('* 0');
  }

  &-text {
    @include position('absolute 0 * * 0');
    @include padding('138px 35px * 5px');
  }

  &-list {
    margin-bottom: 38px;
    font-size: 24px/42px;

    .list-item {
      padding-left: 15px;

      &:before {
        top: 21px;
        left: 3px;
        size: 4px;
      }
    }
  }
}
