.occasions {
  @include padding('* 1px');
  // width: 1265px;
  // height: 585px;

  &-card {
    width: 301px;
    // height: 508px;

    .card-body {
      padding: 37px 34px 22px 41px;
      // height: 158px;
    }
  }

  &-img {
    height: 278px;
  }

  &-title {
    margin-bottom: 22px;
  }
}
